# Django Settings
SECRET_KEY=
DEBUG=True

# Database (Railway will provide DATABASE_URL)
DATABASE_URL=postgresql://postgres:jLRyuwAPEWkQnFozWDAZIAQQrkLYEJLN@postgres.railway.internal:5432/railway

# Railway Settings
RAILWAY=true
